body{
    color: yellow;
    background: rgb(204, 191, 191);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
    font-style: oblique;
    font-size: x-large;
    font-weight: bolder;
}
img{
    height:500px;
    width:500px;
    border-radius:5000px;
}                
video{
    height: 500px;
}
ol{
    list-style-type: upper-roman;
}
ul{
    list-style-type:disc;
}

table{
    border: 1px solid white;
    border-collapse: collapse;
}
h1{
    padding:50px;
    border:20px solid green;
    margin:50px;
}
button:hover{
    background-color: red;
    border-radius:5px;
}
button{
    padding:10px;
    margin:20px;
}
nav{
    display:flex;
    flex-direction:row;
    gap:1000px;
}
#p1{
    font-style:normal;
}
#p2{
    font-style:italic;
}
.pclass{
    font-size: x-large;
}
.grid{
    display:grid;
    grid-template-columns: 33% 33% 33%;
}

