body{
    color:purple;
    background-color:white;
    font-family:'Times New Roman', Times, serif;
}
/*p{
    font-style:italic;
    font-size:xx-large;
    font-weight:bolder;
}*/
img{
    height:500px;
    width:500px;

}

@media (max-width: 1024px){
    img{
        height:auto;
        width:100%;
    }

}
video{
    height:200px;
    width:200px;
}
ol{
    list-style-type:upper-roman;
}
ul{
    list-style-type:circle;
}
table{
    border:2px solid white;
    border-collapse:collapse;
}
h1{
    padding:50px;
    border:2px solid green;
    margin:20px;
}
button:hover{
    background-color:green;
    border-radius:10px;
}
button{
    padding:10px;
    margin:20px;
}
nav{
    display: flex;
    flex-direction: column;
    
}
@media (min-width :1024px){
    nav{
        display:flex;
        flex-direction:row;
        gap:100px;
    }
}
#p1{
    font-style:c;
    font-size:xx-large;
    font-weight:bolder;
    color:blue;
}
#p2{
    font-style:italic;
    font-size:xx-large;
    font-weight:bolder;
    color:orange;
}
.pclass{
    font-style:italic;
    font-size:xx-large;
    font-weight:bolder;
    color:green;
}
.grid{
    display:grid;


    
}
